/* Your styles here */
html{
    background-color: #222F3F;
    box-sizing: border-box;
}
.centerText {
text-align: center;
}
.iBlock p, .iBlock a, .iBlock div, ul li{
    display: inline-block;
}
.box{
    margin: 2em;
    padding: 2em;
}

#img1, #img2, #img3, #img4 {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 19.2em; 
    height: 25em; 
    border-radius: 5%; 
    box-shadow: 1% 1% 1% rgb(68, 68, 68);
    margin-top: 1em;
    margin-right: 2em;

}
.imgGroup{
    margin: auto;
}
.imgS2{

}
.imgS3{

}
.white{
    background-color: #FFFFFF;
}
.bgOrange{
    background-color: #F56600;
}
#title{
background-image: url("../images/bg-image.png");
}
.bgInt{
    background-color: #364759;
}
main{
    background-color: #E9EDEE;
}
#img1{
    background-image: url(../images/img_1.jpg);
}
#img2{
    background-image: url(../images/img_2.jpg);
}
#img3{
    background-image: url(../images/img_3.jpg);
}
#img4{
    background-image: url(../images/img_4.jpg);
}